@model ALM.ViewModels.HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <h2>Emmas bankapplikation</h2>
<hr/>
</div>

<div class="row">

    <div class="col-md-11">
        <ul>

            @foreach (var values in Model.Customers)
            {
                <li>
                    <h4><b>@values.Name @values.LastName</b>  har kundnummer: @values.PersonId </h4><br />
                    @foreach (var item in values.Account)
                    {
                        <h4>Saldo på konto nummer @item.AccountId är @item.Money:-</h4><br />
                    }
                </li>
            }

        </ul>

    </div>
</div>

<style>
    li {
    list-style:none;
    }
</style>